* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
=========================================
Variables
=========================================
*/
:root {
  /* colors */
  --color-background: #f3f3f3;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}
/*
=========================================
Global variables
=========================================
*/
body {
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.7rem;
  }
  h4 {
    font-size: 2.3rem;
  }
  h5 {
    font-size: 1.9rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.7rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.9rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2.1rem;
  }
  h6 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.15rem;
  }
}
