* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
=========================================
Variables
=========================================
*/
:root {
  /* colors */
  --color-background: #f3f3f3;
  --color-background-dark: #37383d;
  --color-primary: #39b385;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #418c63;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  /* others */
  --transition: all 0.3s;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --spacing: 2px;
}
/*
=========================================
Global variables
=========================================
*/
body {
  font-family: "Poppins", sans-serif;
  background: var(--color-background);
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.7rem;
  }
  h4 {
    font-size: 2.3rem;
  }
  h5 {
    font-size: 1.9rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.7rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.9rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2.1rem;
  }
  h6 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.15rem;
  }
}
section {
  transition: all 0.5s linear;
}
.word-background {
  background: var(--gradient-primary);
  clip-path: polygon(11% 0, 100% 0%, 91% 100%, 0% 100%);
  padding: 0 2rem;
}
.section-header {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 5rem auto;
  padding-top: 10rem;
}
.section-header h6 {
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: 1rem;
  margin-bottom: 1rem;
}
.section-header h4 {
  font-weight: 400;
  opacity: 0.7;
}
.text-bold {
  font-weight: bold;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
/*
=========================================
Navigation
=========================================
*/
.navbar {
  background: white;
  /* box-shadow: var(--dark-shadow); */
  z-index: 999;
  background: var(--color-background);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.nav-logo {
  height: 3rem;
}
.navBtn {
  background: transparent;
  border: transparent;
  cursor: pointer;
  transition: var(--transition);
  font-size: 1.7rem;
}
.navBtn:hover {
  transform: scale(1.1);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.nav-links--visible {
  height: 200px;
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
}
.nav-link:hover {
  background-color: #39b385;
  padding-left: 2.25rem;
}
@media screen and (min-width: 992px) {
  .navBtn {
    display: none;
  }
  .open-acc {
    background: var(--color-primary);
    border-radius: 1.5rem;
    transition: var(--transition);
  }
  .nav-link:hover {
    background: none;
    padding-left: 2rem;
  }
  .open-acc:hover {
    background: var(--color-primary-darker);
  }
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
/*
=========================================
Header
=========================================
*/
.header {
  margin-top: 5rem;
  height: 800px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  position: relative;
}
.header-center {
  width: 95%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-left {
  width: 100%;
}
.header-left h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 2rem;
  opacity: 0.7;
  letter-spacing: var(--spacing);
}
.header-left-center h6 {
  text-align: center;
  opacity: 0.7;
  font-weight: 400;
  margin-bottom: 6rem;
}
.header-right {
  display: none;
}
.button-center {
  text-align: center;
}
.header-button {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 0.2rem;
}
.header-button:link,
.header-button:visited {
  color: var(--color-primary);
}
@media screen and (min-width: 768px) {
  .header-center {
    display: grid;
    grid-template-rows: 250px 300px;
  }
  .header-left {
    width: 60%;
    position: relative;
  }
  .header-left h1,
  .header-left h6 {
    text-align: left;
  }
  .header-left-center h6 {
    display: none;
  }
  .header-button {
    display: none;
  }
  .header-right {
    display: block;
    justify-self: end;
  }
  .header-img {
    height: 100%;
  }
}
@media screen and (min-width: 1150px) {
  .header-center {
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
  }
  .header-left {
    height: 400px;
    width: 100%;
    display: grid;
    align-items: center;
  }
  .header-left-center h1 {
    margin-bottom: 3rem;
  }
  .header-left-center h6 {
    margin-bottom: 2rem;
    display: block;
  }
  .header-right {
    height: 400px;
  }
  .button-center {
    text-align: left;
  }
  .header-button {
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 0.2rem;
  }
}
/*
=========================================
Features
=========================================
*/
.features {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.features-center {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding-bottom: 5rem;
}
.features-center h6 {
  font-size: 1.5rem;
  display: inline-block;
  opacity: 0.7;
}
.features-center p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.7;
}
.feature-icon {
  background: rgba(57, 179, 133, 0.1);
  border-radius: 50%;
  font-size: 1.3rem;
  color: #418c63;
  padding: 0.7rem;
}
.feature-icon-text {
  margin: 1rem 0;
}
.feature {
  margin-bottom: 5rem;
}
.lazy-img {
  filter: blur(20px);
}
@media screen and (min-width: 1000px) {
  .feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .feature-text {
    align-self: center;
    width: 80%;
  }
  .feature-2-pic {
    order: 1;
  }
}
/*
=========================================
Operations
=========================================
*/
.operations {
  /* height: 100vh; */
  width: 100%;
  padding-bottom: 10rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.operations-container {
  width: 90%;
  height: 400px;
  max-width: 1000px;
  background: white;
  margin: 0 auto 0 auto;
  position: relative;
}
.operations-btns-container {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: -5%;
  transform: translateX(-50%);
  align-items: center;
}
.operation-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}
.transfer {
  background: var(--color-secondary);
  margin-bottom: 1rem;
}
.transfer:hover {
  background: var(--color-secondary-darker);
}
.loan {
  background: var(--color-primary);
}
.loan:hover {
  background: var(--color-primary-darker);
}
.close {
  background: var(--color-tertiary);
}
.close:hover {
  background: var(--color-tertiary-darker);
}
.operations-inside-container {
  width: 80%;
  position: absolute;
  opacity: 0.7;
  word-spacing: var(--spacing);
  font-size: 1rem;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}
.transfer-money-container {
  visibility: 1;
  opacity: 0.7;
}
.operations-icon {
  font-size: 1.5rem;
  padding: 1rem 1.3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.transfer-icon {
  background: rgba(255, 187, 0, 0.3);
  color: orange;
}
.loan-icon {
  background: rgba(57, 179, 133, 0.3);
  color: green;
}
.close-icon {
  background: rgba(255, 88, 95, 0.3);
}
.operations-icon-text {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 1rem;
}
.operations-container-header {
  align-self: center;
  font-size: 1rem;
}
.operations-paragraph {
  word-spacing: var(--spacing);
  line-height: 1.5rem;
  grid-column: 2/3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 880px) {
  .operation-btn {
    font-size: 1rem;
    padding: 0.8rem 2.8rem;
  }
  .operations-container-header {
    align-self: center;
    font-size: 1.5rem;
  }
  .operations-container {
    height: 300px;
  }
}
/*
=========================================
Comments
=========================================
*/
.outside-comments-container {
  width: 90%;
  max-width: 900px;
  height: 700px;
  margin: 0 auto 10rem auto;
  position: relative;
  overflow: hidden;
}
.arrow {
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .outside-comments-container {
    height: 500px;
  }
  .arrow {
    font-size: 2.2rem;
  }
  .inside-comments-container::before {
    content: "\201C";
    position: absolute;
    top: -4rem;
    left: -6.8rem;
    line-height: 1;
    font-size: 18rem;
    font-family: inherit;
    color: var(--color-primary);
    z-index: -1;
  }
}
.arrow-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.inside-comments-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.comment h6 {
  font-size: 1.5rem;
  letter-spacing: var(--spacing);
  margin-bottom: 1.5rem;
  opacity: 0.7;
}
.comment-paragraph {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0.7;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 2rem;
}
.comment img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.comment-img-info {
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: auto auto;
}
.comment img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  grid-row: 1/3;
}
.address {
  grid-column: 2/3;
  font-size: 1rem;
  font-family: sans-serif;
  opacity: 0.7;
}
.comment-center {
  position: relative;
  margin: auto;
  width: 80%;
  height: 100%;
}
.comment {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  transition: all 1s;
}
.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dots_dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}
/*
=========================================
Message
=========================================
*/
.msg {
  background: var(--color-background-dark);
  color: white;
  height: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.msg-center {
  width: 90%;
  max-width: 900px;
  margin: auto;
  text-align: center;
}
.msg-center h4 {
  font-weight: 400;
  margin-bottom: 2rem;
}
.msg-btn {
  border: none;
  background: var(--color-primary);
  border-radius: 2rem;
  padding: 1.2rem 2.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
/*
=========================================
Open Account Message
=========================================
*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  width: 90%;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s linear;
  max-width: 600px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999;
  transition: all 0.5s linear;
}

.modal__header {
  /* font-size: 3.25rem; */
  padding-bottom: 2rem;
  line-height: 1.5;
  max-width: 500px;
  margin: auto;
}

.modal__form {
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
}

.modal__form label {
  /* font-size: 1.3rem; */
  font-weight: 500;
}

.modal__form input {
  padding-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  background: var(--color-primary);
  border: none;
  border-radius: 1.5rem;
  padding: 0.8rem 2.5rem;
  font-size: 1.1rem;
  display: inline-block;
  grid-column: 2/3;
  cursor: pointer;
}
.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .modal__form input {
    padding-top: 1.5rem;
  }
}
